{% load static %}

<div class="d-flex flex-column align-items-center gap-3 py-5 text-dark" id="speciality">

  <!-- Heading -->
  <h1 class="h3 fw-medium">Find by Speciality</h1>
  <p class="text-center small w-75 w-sm-50">
    Simply browse through our extensive list of trusted doctors, <br>schedule your appointment hassle-free.
  </p>

  <!-- Speciality List -->
  <div class="d-flex gap-3 pt-4 w-100 overflow-auto justify-content-sm-center">
    {% for sp in speciality %}
      <a href="#" 
         class="d-flex flex-column align-items-center text-muted small text-decoration-none flex-shrink-0"
         style="transition: all 0.4s ease;"
         onmouseover="this.style.transform='translateY(-10px)';"
         onmouseout="this.style.transform='translateY(0)';">

        <img src="{{ sp.image_path.url }}" alt="{{ item.speciality }}" 
             class="mb-2" style="width: 4rem; max-width: 6rem;">
        <p class="mb-0">{{ sp.name }}</p>
      </a>
    {% endfor %}
  </div>

</div>

